################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/AlexHinata/.vs/AlexHinata/v15/ipch/AutoPCH/ALEXHINATA-2e1d641a/BITSCAN-186ad136/BITSCAN.ipch
/AlexHinata/.vs/AlexHinata/v15
/AlexHinata/.vs/AlexHinata/v15/Browse.VC.db
/AlexHinata/.vs/AlexHinata/v15/Browse.VC.opendb
/AlexHinata/.vs/AlexHinata/v15/Browse.VC.db
/AlexHinata/.vs/AlexHinata/v15
